{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'site_css.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Terrain Generator</title>
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@v0.162.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@v0.162.0/examples/jsm/"
          }
        }
    </script>
</head>
<body>
    <script type="module" src="{% static '/javascript/generator_js.js' %}"></script>
<p>Set the seed, octaves and terrain size, then click the Generate! button</p>
</body>
</html>