{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'site_css.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Terrain Generator</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@v0.162.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@v0.162.0/examples/jsm/"
          }
        }
    </script>
</head>
<body>
  <ul>
    {% for v in vertices %}
      <li>id:{{v.id}} : {{ v.x_coord }} {{ v.y_coord }} {{ v.z_coord }}</li>
    {% endfor %}
  </ul>
    <script>
      //Get the coordinates from the vertex models and assign them to a matrix
      let coords_matrix = []
      //Each row of the matrix consists of one vertex
      let matrix_row = []
      {% for v in vertices %}
        //Add the coordinates to the current row
        matrix_row.push( {{ v.x_coord }} )
        matrix_row.push( {{ v.y_coord }} )
        matrix_row.push( {{ v.z_coord }} )
        //Add the row to the matrix
        coords_matrix.push(matrix_row)
        //Clear the row in order to assign new values
        matrix_row = [];
      {% endfor %}

    </script>
    <script type="module" src="{% static '/javascript/generator_js.js' %}"></script>
  <p>Set the seed, octaves and terrain size, then click the Generate! button</p>
</body>
</html>