{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'site_css.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>3D Terrain Generator</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script type="importmap">
        {
          "imports": {
            "three": "https://unpkg.com/three@v0.162.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@v0.162.0/examples/jsm/"
          }
        }
    </script>
</head>
<body>
    
    <!-- Form for the Perlin Noise attributes, terrain settings and buttons -->
    <form action="generator" method="POST">
      {% csrf_token %}
      <div class="row" style="border:solid 5px darkblue">
        <div class="col-sm-4" style="background-color:cornflowerblue; color:white; padding-left: 1.5%;">
          Perlin Noise Settings
          <input type="number" name="input_scale" class="form-control" value="0.1" min="0.1" width="200" max="10" step="any" id="InputScale">
          Perlin Noise Octaves:
          <input type="number" name="input_octaves" class="form-control" value="30" min="1" max="80" step="1" id="InputOctaves">
          <br>
          <input type="checkbox" style="margin-left: 10px" class="form-check-input" name="perlin_noise_checkbox" id="noise_checkbox_id" checked onchange="EnableDisableForms()">
          <label style="margin-left: 20px; padding-left:10px" for="noise_checkbox_id">Enable Perlin Noise</label>
        </div>
    
        <div class="col-sm-4" style="background-color:aquamarine;">
          Height Curve<br>
          <input type="radio" id="height_costant" name="height_curve" value="Costant">
          <img src="{% static 'images/costant.png' %}">
          <label for="height_costant">Costant</label><br>
          
          <input type="radio" id="height_linear" name="height_curve" value="Linear" checked>
          <img src="{% static 'images/linear.png' %}">
          <label for="height_linear">Linear</label><br>
          
          <input type="radio" id="height_exponential" name="height_curve" value="Exponential">
          <img src="{% static 'images/exponential.png' %}">
          <label for="height_exponential">Exponential</label><br>
          
          <input type="radio" id="height_logarithmic" name="height_curve" value="Logarithmic">
          <img src="{% static 'images/logarithmic.png' %}">
          <label for="height_logarithmic">Logarithmic</label>
        </div>
    
        <div class="col-sm-4" style="background-color:aqua; padding-bottom: 2%;">
          Terrain Size (cube count)<br>
          <input type="number" name="input_terrain_size" value="1000" min="100" max="3000" step="100">
          <br><br>
          <label for="input_color_id">Terrain Color</label><br>
          <input type="color" id="input_color_id" name="input_color" value="#00ff00"><br><br>

          <input type="submit" class="btn btn-info" name="input_submit" value="Generate Terrain">
          <input type="button" class="btn btn-primary" value="Download OBJ Model" onclick="DownloadOBJ()">

        </div>
      </div>
    </form>
    
    <script>
      //Disable Perlin Noise forms if the checkbox isn't checked
      let disabled_forms = false
      function EnableDisableForms(){
        if (disabled_forms) {
          document.getElementById('InputScale').removeAttribute('disabled')
          document.getElementById('InputOctaves').removeAttribute('disabled')
        } else {
          document.getElementById('InputScale').setAttribute('disabled', '')
          document.getElementById('InputOctaves').setAttribute('disabled', '')
        }
        disabled_forms = !disabled_forms
      }
      //Global variable to check which geometry is used to render the terrain
      let TERRAIN_CUBE = false
      //Get the coordinates from the vertex models and assign them to a matrix
      let coords_matrix = []
      //Each row of the matrix consists of one vertex
      let matrix_row = []
      {% for v in vertices %}
        //Add the coordinates to the current row
        matrix_row.push( {{ v.x_coord }} )
        matrix_row.push( {{ v.y_coord }} )
        matrix_row.push( {{ v.z_coord }} )
        //Add the row to the matrix
        coords_matrix.push(matrix_row)
        //Clear the row in order to assign new values
        matrix_row = [];
      {% endfor %}

      //Get the color from the context
      let terrain_color_hex = {{terrain_color}}
    </script>
    <script type="module" src="{% static '/javascript/generator_js.js' %}"></script>
</body>
</html>
